#hero-activities {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/bg-services.jpg') center/cover no-repeat;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card {
  border: none;
}
.card:hover {
  transform: translateY(-5px);
}

.btn {
 border:none;
 background-color: black;
  color: rgb(255, 255,255);
  border-radius: 30px;
}

.btn:hover {
  background-color: #ff8e04;
  color: rgb(0, 0, 0);
}
