main{
    background-image:url("../../img/bg-recap.jpg");
    background-repeat: no-repeat;;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Tahoma, Geneva, Verdana, "sans-serif", system-ui, -apple-system, 'Bebas Neue', sans-serif;
    align-items: center;
    justify-content: center; 
}

#courses-report-container{
    color: rgb(255, 255, 255);
    border: none;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.9);
    justify-content: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
#courses-report-container h2{
    font-size: 2rem;
    text-align: center; 
    font-weight: bold;
    font-style: italic;
}
#courses-report-container p{
    font-size: 1rem;
    margin: 20px;
    text-align: justify; 
}