body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

header {
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-link, .login a {
    font-size: 1.2rem;
    color: white !important;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover, .login a:hover {
    color: #f0a500 !important;
}

main {
    flex: 1;
    margin-top: 0; /* Remove the margin to eliminate the extra space */
    padding-bottom: 50px;
}

.form-container {
    max-width: 500px;
    background-color: rgba(34, 34, 34, 0.9);
    padding: 20px;
    margin: 0 auto; /* Center the form */
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 8px;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

.buttons:hover {
    background-color: #ff9800;
}
