header {
    height: 100px; 
    background-color: #000; 
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-link {
    font-weight: 200; 
    font-size: 1rem; 
    color: white !important;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #f0a500 !important;
}

.login a {
    font-weight: 200; /* Texte ultra-fin */
    font-size: 1rem; /* Taille adaptée */
    color: white !important;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* footer*/
footer {
    align-items: center;
    justify-content: center;
    background-color: #000000; /* Fond noir */
    text-align: center;
    font-weight: 300; 
    color : white;
}


