body, html {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

form label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
}

input, textarea, select {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"], .buttons {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"]:hover, .buttons:hover {
  background-color: #ff9800;
}

.nav-link, .login a {
  font-weight: 200;
  font-size: 1.2rem;
  color: white !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover, .login a:hover {
  color: #f0a500 !important;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

#block1, #block2 {
  max-width: 600px;
  background-color: rgba(34, 34, 34, 0.9);
  padding: 25px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  width: 100%;
  box-sizing: border-box;
}

h3, h6 {
  text-align: center;
  color: #fff;
}

#block2 h6 {
  color: #bbb;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

form input, form textarea {
  margin-bottom: 15px; /* Space between inputs and buttons */
}

.buttons-container button {
  margin-top: 15px; /* Space between the buttons and inputs */
}

@media (max-width: 768px) {
  #block1, #block2 {
      max-width: 100%;
      padding: 15px;
  }

  .buttons-container {
      flex-direction: column;
      gap: 15px;
  }

  input[type="submit"] {
      width: auto;
  }
}

@media (max-width: 480px) {
  #block1, #block2 {
      padding: 10px;
  }

  h3 {
      font-size: 1.5rem;
  }
}
